html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: “Acrom”;
  src: url("../fonts/Acrom-Bold.woff");
  src: url("../fonts/Acrom-Bold.woff2");
  src: url("../fonts/Acrom-ExtraBold.woff");
  src: url("../fonts/Acrom-ExtraBold.woff2");
  src: url("../fonts/Acrom-Light.woff");
  src: url("../fonts/Acrom-Light.woff2");
  src: url("../fonts/Acrom-Medium.woff");
  src: url("../fonts/Acrom-Medium.woff2");
  src: url("../fonts/Acrom-Regular.woff");
  src: url("../fonts/Acrom-Regular.woff2");
  }

body {
  font-family: "Acrom", Arial, sans-serif;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
