html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  @include font(16px, 1.86, 500);
  color: $description-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

h1 {
  color: $secondary-color;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  transition: $smoothly;
}

.link:hover,
.link:focus {
  color: $secondary-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}

.container {
  margin-right: auto;
  margin-left: auto;

  @include for-size(mobile) {
    width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include for-size(tablet) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @include for-size(desktop) {
    width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
