$bg-gradient: radial-gradient(circle, rgba(19,41,69,1) 0%, rgba(24,28,39,1) 100%);
$white-font: white;
$light-blue: #00eaff;
$gold-brown: #f3ac2a;
$form-bgc: #ffffff;
$form-border: #696969;
$form-btn: #ff6b08;
$conf-link-color: #626875;
$hover-btn: #1b3553;