{
  "rules": {
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    }],
    "declaration-colon-space-after": "always",
    "declaration-no-important": true,
    "indentation": [2, {
      "ignore": ["inside-parens"]
    }],
    "max-empty-lines": 2,
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    }],
    "unit-whitelist": ["em", "rem", "%", "px", "vh", "vw", "dpi", "dppx", "pt", "deg", "s", "ms"]
  }
}
