// цвет текста
$main-color: #ffffff;
$secondary-color: #d41443;
$light-color: #ffa5ba;
$description-color: #000000;
$description-light: #907e82;

// цвет фона
$bg-section: #fff5f6;
$bg-social-icons: #fea5bb;
$bg-header: #ffb8ca;

// фон кнопок при ховере/фокусе
$btn-accent-white: #ecebeb;
$btn-accent-red: #c7133e;

// время перехода (transition)
$smoothly: 250ms cubic-bezier(0.4, 0, 0.2, 1);
