.location {
  background: $bg-section;
}
.main {
  display: block;

  /* margin-top: -84px; */

  @include for-size(mobile-only) {
    margin-bottom: 54px;
  }
  @include for-size(tablet) {
    display: flex;
    margin-bottom: 81px;
  }

  @include for-size(desktop) {
    margin-bottom: 86px;
  }
}

.main__food {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: $main-color;
  background: #c2e297;
  border-radius: 4px;

  margin-right: 120px;
  margin-left: 20px;

  margin-bottom: 25px;
}
.main__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $main-color;
  background: #f0d1a5;
  border-radius: 4px;

  @include for-size(mobile-only) {
    width: 80px;
    height: 16px;
    margin-bottom: 25px;
  }
  @include for-size(tablet) {
    width: 73px;
    height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  @include for-size(desktop) {
    width: 73px;
    height: 28px;
    font-size: 16px;
  }
}
.main__FOODTRUCK {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $main-color;
  background: #c2e297;
  border-radius: 4px;

  @include for-size(mobile-only) {
    width: 80px;
    height: 16px;
    margin-bottom: 25px;
  }
  @include for-size(tablet) {
    width: 130px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  @include for-size(tablet) {
    width: 138px;
    font-size: 16px;
  }
}
.features__list {
  display: block;

  width: 220px;
  height: auto;
  list-style: none;

  background: $main-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include for-size(mobile-only) {
    padding: 43px 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include for-size(tablet) {
    padding: 31px 44px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include for-size(desktop) {
    width: 330px;
    height: auto;
    list-style: none;
    padding: 44px 43px;

    &:not(:last-child) {
      margin-right: 31px;
    }
  }
  /* &:nth-child(1) {
    margin-top: -84px;
  } */
}
.features__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;

  color: $description-color;
  @include for-size(mobile) {
    margin-bottom: 10px;
  }
  @include for-size(tablet) {
    margin-bottom: 14px;
  }
  @include for-size(desktop) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: $description-light;

  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @include for-size(mobile) {
    margin-bottom: 25px;
  }
  @include for-size(tablet) {
    margin-bottom: 30px;
    font-size: 14px;
  }
  @include for-size(desktop) {
    width: 243px;
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.line {
  list-style-type: none;
  border: 1px solid #e1e1e1;
  margin-left: 20px;
  margin-right: 21px;
  margin-bottom: 25px;

  @include for-size(desktop) {
    margin-left: 43px;
    margin-right: 53px;
    margin-bottom: 32px;
  }
}
.features__team {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $description-color;

  @include for-size(tablet) {
    font-size: 14px;
  }
  @include for-size(desktop) {
    font-size: 16px;
  }
}
.features__time {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $light-color;

  @include for-size(tablet) {
    font-size: 14px;
  }
  @include for-size(desktop) {
    font-size: 16px;
  }
}
.features-block {
  @include for-size(mobile) {
    margin-bottom: 10px;
  }
  @include for-size(tablet) {
    margin-bottom: 16px;
  }
  @include for-size(desktop) {
    margin-bottom: 15px;
  }
}
.features-block1 {
  @include for-size(mobile) {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 25px;
  }
  @include for-size(desktop) {
    padding-bottom: 32px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 32px;
  }
}
.address {
  color: $description-light;
}
.address__link {
  width: 179px;
  height: 37px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;

  color: $description-light;

  @include for-size(tablet) {
    font-size: 14px;
  }
  @include for-size(desktop) {
    font-size: 16px;
  }
}
.button {
  @include for-size(tablet) {
    text-align: center;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn1 {
  /*  width: 161px;
  height: 44px; */
  color: $main-color;
  background-color: #d41342;
  border-radius: 22px;
  /*  @include for-size(mobile-only) {
    
  } */
  @include for-size(tablet) {
    width: 191px;
    height: 44px;
    margin-right: 14px;
  }
  @include for-size(desktop) {
    width: 198px;
    height: 44px;
  }
}
.btn2 {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  @include for-size(tablet) {
    width: 191px;
    height: 44px;
  }
  @include for-size(desktop) {
    width: 198px;
    height: 44px;
  }
}
.arrow {
  width: 8px;
  height: 12px;
  fill: #ffffff;
  margin-left: 14px;
  &:last-child {
    color: #d41342;
  }

  /* border: 2px solid; */
}
.fon {
  width: 1920px;
  height: 382px;
  background: url('../images/sectionbg.png');
}
